.App {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family:  sans-serif;
  height: 100vh;
  background-color: hsl(229, 24%, 87%);
  color: hsl(213, 96%, 18%);
}
